/* This css stylizes the webpage for my shopping cart*/
#cart-wrap {
  font-family: arial, sans-serif;
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
}
#cart-petlist, #cart-items {
  box-sizing: border-box;
  padding: 10px;
}
/*This stylizes the "add to cart" button */
#cart-petlist { width: 70%; }
#cart-items { width: 30%; }
input.cart, button.cart {
  padding: 10px;
  border: 0;
      background: #0026ff;
  color: rgb(255, 255, 255);
  font-weight: 700;
  cursor: pointer;
}

/* CSS for pets listed in the shopping cart */
#cart-petlist {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
/* This stylizes the the pet list and adds a cool border */
.p-list {
  padding: 10px;
  border: 10px solid rgb(0, 0, 0);
  border-radius: 5px;
  text-align: center;
}
/*This does all the sizing and colour for my pet list in the shopping cart page */
.p-img { max-width: 150px; }
.p-name, .p-price { font-weight: 700; }
.p-name, .p-desc, .p-price { margin: 5px 0; }
.p-name { text-transform: uppercase; }
.p-desc {
  color: #aaa;
  font-size: 0.9em;
}
.p-price { font-size: 1.35em; }
input.p-add { width: 70%; }

/* This is the shopping cart */
#cart-items {
  background: #0248f8;
  color: rgb(255, 255, 255);
  border-radius: 30px;
}
.c-item {
  padding: 10px 0;
  display: flex;
  /* the flex warp tag Controls whether the flex container is single-line or multi-line*/
  flex-wrap: wrap;
}
.c-item > * { box-sizing: border-box; }
.c-name, .c-total, input.c-empty, input.c-checkout { width: 100%; }
.c-total, input.c-empty, input.c-checkout { margin-top: 10px; }
.c-del { width: 25%; }
.c-qty { width: 75%; }
.c-total {
  font-weight: 700;
  font-size: 1.2em;
}

/* The media tag is used to specify that the target URL is designed for special devices such mobile phones which makes it responsive */
@media screen AND (max-width: 5000px) {
  /* specifies, as a space-separated track list, the line names and track sizing functions of the grid.*/
  #cart-wrap { grid-template-columns: 60% 40%; }
  #cart-petlist { grid-template-columns: auto; }
}